@import url('https://fonts.googleapis.com/css?family=Cinzel|Roboto:400,400i,700,700i');

body {
    font-family: monospace;
    font-weight:400;
    background: white;
    color: black;
    background-size: cover;
    padding: 0;
    margin: 0;
    position: relative;
    z-index: 0;
}

.bodyofeverything {
    padding: 50px;
    position: relative;
    top: -30px;
    z-index: -1;
}

.heightfix {
    z-index: 11;
}

p {
    background: rgba(255, 255, 255, .55);
}

/* Resizes the logo */

.navbar {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background: rgb(30, 30, 30);       

}

    navbar li {
        display:inline-block;
        padding: 0;
        margin: 0;
    }

#superbutton {
    background: rgb(30, 30, 30);
}

    #superbutton:hover {
        background: #666;
    }

#donatesuperbutton {
    background: rgb(30, 30, 30);
    color: deepskyblue;
    font-weight: 700;
}

    #donatesuperbutton:hover {
        color: black;
        background: deepskyblue;
        font-weight: 700;
    }

button {
    padding:10px 15px;
    background:#666;
    color:#FFF;
    border:0px;
}

button:hover {
    background:#000;
}

/* Div fuckery */

#suggestions {
    display:block;
    width:100%;
    height:auto;
    margin-bottom:40px;
    border-bottom:1px #000 solid;
}

.split {
    display:inline-block;
    width:45%;
    height:auto;
    float:left;
    margin-right:2.5%;
    box-sizing:border-box;
}

.updates, .todo {
    padding-top:20px;
    padding-bottom:20px;
    list-style:circle;
}

    .updates:first-of-type {
        background:lightgrey;
    }

    .updates li:first-child {
        list-style:none;
        margin-left:-15px;
    }


/* General chat styling */

h1, h2, h3 {
    font-family:sans-serif;
    color: black;
    letter-spacing:1px;
}
    h1 { 
        font-size:24pt;
        margin: auto;
    }

    h2 {
        font-size:18pt;
        margin:0;
}

    h3 {
        font-size:15pt;
    }